
@media (min-width: 320px) and (max-width: 575px) {


/* =====nav starts =========*/
.nav-parents {
    flex-direction: column;
}

.nav-parents ul {
   flex-direction: column;

}
/*================== nav ends ===============*/
.banner-right {
  
    display: none;
   
}

.banner-left h1 {
 
    line-height: 38px; 
     font-size: 35px;
    
}
.banner-button {
  flex-direction: column;
    gap: 20px;
}
.rating{
    display: flex;
  flex-direction: column;
  gap: 20px;
}

#banner {
    height: auto;
    padding: 20px 0px;
 
}



/*=================== banner ends============================ */
.brands-image {
 flex-wrap: wrap;
 gap: 10px;
   
}

.brands-image img{
  width: 48%;
    
   
}
#brands h2 {
   
    font-size: 42px;
}

#brands {
    height: 660px;
    padding: 20px 0px;
}
/*============== brands ends here================ */

#mails {
   height: auto;
padding: 20px 5px;
}
.mail-img {
    flex-direction: column;
    gap: 50px;
}
#mails h2 {
 
    font-size: 40px;
}

/* =========mail ends here================ */

/* ==============post card starts ==========*/


#postcards {
    height: auto;
    padding-top: 10px;
  
}
#postcards .headingpost {
    font-size: 29px;
    margin-bottom: 40px;
}
.div-1 {
    
    margin-bottom: 40px;
}

.div-1 img{
    width: 100%;
}

.div-2 {
    margin-bottom: 43px;
    
}
.div-2 h2 {

    margin-left: 0px;
    
}

.div-2 p {
    margin-left: 0px;
    
}

.div-2 img {
    margin-left: 0px;
    width: 100%;
}

.div-3 img{
    width: 100%;
}
/* ============post-cards ends ====================*/
}