@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1290px;
    margin: 0 auto;
}

.nav-parents {
    display: flex;
    justify-content: space-between;
}

.nav-parents ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.nav-parents ul li {
    font-size: 14px;
    font-weight: 400;
    padding: 19px;
}

.nav-parents ul li button {
    padding: 14px 22px 12px 22px;
    border-radius: 12px;
}

.color1 {
    background-color: #FF6D2C;
}
